/* series.css */

/* Genre Row Styles */
.genre-row {
  margin-bottom: 20px; /* Adjust the margin as needed */
}

.genre-title {
  font-size: 24px; /* Adjust the font size as needed */
  margin-bottom: 10px; /* Adjust the margin as needed */
}


/* Add any other styles you need for your component */
